{% extends "layout.html" %}

{% block content %}
<h2>Create Team</h2>
<!-- Instructions for the CSV format -->
<div class="instructions">
    <h3>CSV File Format Instructions:</h3>
    <ul>
        <li>No column headers</li>
        <li>Columns should be in the following order: <strong>firstName, lastName, battingStyle, bowlingStyle, team</strong>.</li>
        <!-- <li><strong>There cannot be spaces in the team name</strong></li> -->
        <li>Each subsequent row should contain the details for a player.</li>
        <li>Save or export your spreadsheet as a .csv file.</li>
    </ul>
</div>
<form action="{{ url_for('auth.create_team') }}" method="post" enctype="multipart/form-data">
    <label for="csvfile">Upload CSV:</label>
    <input type="file" name="file" id="csvfile" accept=".csv">
    <input type="submit" value="Upload and Create Team">
</form>
<h3>All Teams:</h3>
{% for team, players in team_players.items() %}
  <!-- Team Modal Button -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ team.replace(' ', '_') }}Modal">
    View {{ team }}
    </button>

  <!-- Team Modal -->
  <div class="modal fade" id="{{ team.replace(' ', '_') }}Modal" tabindex="-1" aria-labelledby="{{ team.replace(' ', '_') }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ team }}ModalLabel">{{ team }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table>
            <thead>
              <tr>
                <th>Player Name</th>
                <th>Batting Style</th>
                <th>Bowling Style</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}
              <tr>
                <td>{{ player[1] }} {{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[4] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}



{% endblock %}